.footer {
  height: 20vh;
  width: 100%;
  padding: 0 5rem;
  position: relative;

  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  background-color: var(--main-bg-color);
  /* background-color: yellowgreen; */
}

.contacto {
  display: inline;
  font-size: var(--fs-mid-small-text);
  font-weight: 300;
  margin-right: 5rem;
}

.aviso {
  display: inline;
  font-size: var(--fs-mid-small-text);
  font-weight: 300;
}

.derechos {
  font-size: var(--fs-small-text);
}

.footer img {
  height: 100%;
  position: absolute;
  right: 0;
}
