.header {
  width: 100%;
  height: 12vh;
  padding: 0 2.5%;

  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--black-color);
  background-color: var(--main-bg-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo {
  width: 15%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* background-color: violet; */
}

.logo img {
  height: 90%;
  cursor: pointer;
}

.header .main-nav {
  width: 85%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;

  /* background-color: yellow; */
}

.header ul li {
  font-size: var(--fs-mid-small-text);
  font-weight: 500;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background: #000; */
}

/* Logo link for the btn-nav */
.header li .logo-link {
  display: none;
}

.header li .logo-link img {
  width: 100%;
}

.header li > * {
  color: var(--black-color);
  text-decoration: none;
}

.header li .link:visited,
.header li .link:focus {
  color: var(--black-color);
}

.header .active {
  font-weight: 800;
}

.header .pages-subnav {
  width: 80%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  /* background-color: tomato; */
}

.header .pages-subnav li {
  margin: 0 2rem;

  position: relative;
  transition: color 0.3s ease-in-out;
}

.header .pages-subnav li::after {
  content: "";
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 3px;
  background-color: var(--black-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header .pages-subnav li:hover {
  color: var(--black-color);
}

.header .pages-subnav li:hover::after {
  transform: scaleX(1);
}

.header .social-networks-subnav {
  width: 20%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* background-color: yellowgreen; */
}

.header .social-networks-subnav li {
  margin-right: 2rem;
}

.header .social-networks-subnav li .icon {
  cursor: pointer;
  width: 2.25rem;

  transition: all 0.2s ease-in-out;
}

.header .social-networks-subnav li .icon:hover {
  fill: var(--main-brown-color);
}

/**************************/
/* MOBILE */
/**************************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  /* background-color: yellowgreen; */

  display: none;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4rem;
  color: var(--black-color);
}

.icon-mobile-nav.close-outline {
  display: none;
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .header {
    /* 8px / 16px */

    padding: 0 5%;
  }
  .header ul li {
    font-size: var(--fs-big-text);
  }

  .logo {
    width: auto;
    /* background-color: yellowgreen; */
  }

  .logo img {
    /* margin-left: 2rem; */
    height: 80%;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 100;
  }

  /* .header li {
    font-size: var(--fs-mid-text);
  } */

  .header .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    transition: all 0.5s ease-in;

    background-color: rgba(248, 246, 242, 0.999);

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;

    transform: translateX(100%);
  }

  .logo-link-container {
    width: 30%;
  }

  .header li .logo-link {
    display: block;
  }

  .main-nav .pages-subnav {
    flex-direction: column;
    gap: 5rem;
    width: 100%;
  }

  .main-nav .pages-subnav .logo {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  .main-nav .social-networks-subnav {
    width: 100%;
    justify-content: center;
  }

  .header .social-networks-subnav li {
    margin: 0 2.5rem;
  }

  .main-nav .social-networks-subnav li .icon {
    width: 3.2rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0%);
  }

  .nav-open .icon-mobile-nav.close-outline {
    display: block;
  }

  .nav-open .icon-mobile-nav.menu-outline {
    display: none;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .header li .logo-link img {
    width: 100%;
    padding: 0;
  }

  .logo-link-container {
    width: 45%;
  }
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
  .logo-link-container {
    width: 55%;
  }
}
