.header {
  margin-top: 12vh;

  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: violet; */
}

.header h1 {
  font-size: var(--fs-title);
  text-align: center;
  font-weight: 700;
  color: var(--main-brown-color);
  /* background-color: yellowgreen; */
}

.section-all-drinks {
  width: 85%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;

  margin-bottom: 5rem;

  /* background-color: violet; */
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .section-all-drinks {
    flex-direction: column;
    align-items: center;
  }
}
