.container-drink {
  width: 35%;
  height: 30rem;
  margin-bottom: 5%;

  border-radius: 1.2rem;

  position: relative;
  cursor: pointer;

  transition: all 0.2s ease-in;
  /* background-color: turquoise; */
}

.container-drink .container-img {
  height: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* object-fit: cover; */
  border-radius: 1.2rem;

  /* background-color: yellowgreen; */
}

.container-drink .container-img picture {
  height: 100%;

  transition: all 0.2s ease-in-out;
}

.container-drink .container-img picture img {
  height: 95%;
}

.container-drink h2 {
  position: absolute;
  border-radius: 1.2rem;
  border-radius: 0px 0px 1.2rem 1.2rem;

  width: 100%;

  font-size: var(--fs-mid-text);
  font-weight: 600;
  color: var(--main-brown-color);
  font-family: var(--ff-sec);
  text-align: center;
  padding: 1.5rem 0;
  background-color: var(--main-bg-color);

  bottom: 0%;
  left: 0%;

  opacity: 1;
  /* transition: all 0.2s ease-in; */

  /* transform: translate(0%, 100%); */
}

.container-drink:hover {
  transform: translate(0, -1%);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
  .container-drink {
    width: 40%;
  }
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .container-drink {
    width: 75%;
    margin-bottom: 7.5%;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .container-drink {
    width: 80%;
  }
}
