.section-slider-cocktails {
  height: 88vh;
  padding: 0 12rem;

  background-color: var(--sec-bg-color);
}

.section-slider-cocktails h2 {
  height: 20%;
  font-size: var(--fs-sub-title);
  color: var(--main-brown-color);
  font-weight: 500;
  padding-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.my-swiper {
  height: 70%;
  width: 100%;
  border-radius: 1.2rem;
}

.my-swiper .my-swiper--slide {
  margin: auto 0;
  /* height: 100%; */

  border-radius: 1.2rem;
  display: flex;
}

.my-swiper--slide .container-img {
  width: 40%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.my-swiper--slide .container-img img {
  height: 100%;
}

.my-swiper--slide .container-text {
  width: 60%;
  padding: 0 4rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;

  background-color: var(--main-bg-color);
}
.my-swiper--slide .container-text h3 {
  font-size: var(--fs-big-text);
  color: var(--main-brown-color);
  font-weight: 500;
}

.my-swiper--slide .container-text ul h4,
.my-swiper--slide .container-text ol h4 {
  font-family: Lora;
  font-size: var(--fs-mid-text);
  color: var(--main-brown-color);
  font-weight: 500;
}

.my-swiper--slide .container-text ul li,
.my-swiper--slide .container-text ol li {
  font-family: Lora;
  font-size: var(--fs-small-text);
  padding-bottom: 0.2rem;
}

.mybullet {
  width: 1.5rem;
  height: 1.5rem;
}

.bullet--active {
  opacity: 1;
  background: var(--main-brown-color);
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
/* @media (max-width: 59em) {
  .my-swiper .my-swiper--slide {
    flex-direction: column;
    width: 100%;
  }

  .my-swiper--slide .container-img {
    height: 40%;
    width: 100%;
  }
} */
