.section-special-collections {
  height: 70vh;
  /* padding: 7.5rem 0; */
  padding: 0 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-bg-color);
  /* background-color: yellowgreen; */
}

.section-special-collections .left {
  width: 40%;
  height: 100%;
  padding-left: 8%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* background-color: aquamarine; */
}

.section-special-collections .left h2 {
  width: 100%;
  font-size: var(--fs-sub-sub-title);
  font-weight: 500;
}

.section-special-collections .left button {
  width: 12rem;

  font-family: Lora;
  color: var(--black-color);

  margin-top: 3rem;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--black-color);

  transition: all 0.3s ease-out;
}

.section-special-collections .left button:hover {
  color: var(--main-bg-color);
  background-color: var(--black-color);
  border: 2px solid var(--black-color);
}

.section-special-collections .right {
  width: 60%;
  height: 100%;

  padding-left: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: violet; */
}

.section-special-collections .right img {
  width: 100%;
  border-radius: 1.2rem;
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .section-special-collections {
    flex-direction: column-reverse;
    gap: 5%;
    /* height: 88vh; */
  }

  .section-special-collections .left {
    padding-left: 0%;
    align-items: center;
    width: 90%;
    height: auto;
  }

  .section-special-collections .left h2 {
    text-align: center;
  }

  .section-special-collections .right {
    padding-left: 0%;
    width: 70%;
    height: auto;
  }
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .section-special-collections .left {
    width: 90%;
  }

  .section-special-collections .right {
    width: 80%;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .section-special-collections {
    height: 88vh;
  }
  .section-special-collections .right {
    display: none;
  }
}
