.section-slider--bottles {
  height: 88vh;
  padding-bottom: 2rem;

  background-color: var(--sec-bg-color);
  z-index: 1;

  overflow: hidden;
}

.section-slider--bottles h2 {
  height: 20%;
  width: 90%;
  margin: 0 auto;
  text-align: center;

  font-size: var(--fs-sub-title);
  font-weight: 500;
  text-align: center;
  color: var(--main-brown-color);

  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* padding-bottom: 1%; */

  /* background-color: yellowgreen; */
}

.my-swiper {
  height: 80%;
  width: 100%;
}

.my-swiper .my-swiper--slide {
  height: 70%;
  margin: auto 0;

  border-radius: 1.2rem;

  background-color: var(--main-bg-color);
  /* background-color: yellowgreen; */
}

.my-swiper .my-swiper--slide .container-slide {
  height: 100%;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: violet; */
}

.my-swiper .my-swiper--slide .active {
  transition: all 0.5s ease-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.my-swiper .my-swiper--slide .noactive {
  transition: all 0.5s ease-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.my-swiper .my-swiper--slide .noactive .img-bottle {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}

.my-swiper .my-swiper--slide .img-bottle {
  /* display: none; */
  height: 120%;
  z-index: 100;

  position: absolute;
  top: -14%;
  left: -30%;

  transition: all 0.3s ease-out;

  /* background-color: yellowgreen; */
}

.my-swiper .my-swiper--slide .img-bottle img {
  height: 100%;
}

.my-swiper .my-swiper--slide .container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-color: yellowgreen; */
}

.my-swiper .my-swiper--slide h3 {
  text-align: center;
  font-size: var(--fs-big-text);
  font-weight: 100;
}

.my-swiper .my-swiper--slide h4 {
  text-align: center;
  font-size: var(--fs-mid-text);
  font-weight: 100;
  position: relative;
  border-bottom: 2px;
}

.my-swiper .my-swiper--slide h4::after {
  display: block;
  content: "";
  width: 12rem;
  height: 0.2rem;

  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-swiper .arroqueno h4::after {
  background-color: var(--arroqueno-color);
}

.my-swiper .espadin h4::after {
  background-color: var(--espadin-color);
}

.my-swiper .cuixe h4::after {
  background-color: var(--cuixe-color);
}

.my-swiper .tobala h4::after {
  background-color: var(--tobala-color);
}

.my-swiper .my-swiper--slide button {
  width: 12rem;
  margin-top: 3rem;

  font-family: Lora;
  color: var(--black-color);
  font-size: var(--fs-small-text);
  padding: 1rem 1.5rem;

  border-radius: 1.2rem;
  background-color: var(--main-bg-color);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.my-swiper .my-swiper--slide .arroqueno {
  border: 2px solid var(--arroqueno-color);
}

.my-swiper .my-swiper--slide .arroqueno:hover {
  border: 2px solid transparent;
  color: #fff;
  background-color: var(--arroqueno-color);
}

.my-swiper .my-swiper--slide .espadin {
  border: 2px solid var(--espadin-color);
}

.my-swiper .my-swiper--slide .espadin:hover {
  border: 2px solid transparent;
  color: #fff;
  background-color: var(--espadin-color);
}

.my-swiper .my-swiper--slide .cuixe {
  border: 2px solid var(--cuixe-color);
}

.my-swiper .my-swiper--slide .cuixe:hover {
  border: 2px solid transparent;
  color: #fff;
  background-color: var(--cuixe-color);
}

.my-swiper .my-swiper--slide .tobala {
  border: 2px solid var(--tobala-color);
}

.my-swiper .my-swiper--slide .tobala:hover {
  border: 2px solid transparent;
  color: #fff;
  background-color: var(--tobala-color);
}

.mybullet {
  width: 1.5rem;
  height: 1.5rem;
}

.bullet--active {
  opacity: 1;
  background: var(--main-brown-color);
}

/**************************/
/* BELOW 1344px /smaller desktops */
/**************************/
@media (max-width: 84em) {
  .my-swiper .my-swiper--slide .img-bottle {
    left: -35%;
  }

  .container-text {
    margin-left: 15%;
  }
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
  .my-swiper .my-swiper--slide .img-bottle {
    left: -45%;
  }

  .container-text {
    margin-left: 15%;
  }
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .section-slider--bottles h2 {
    height: 16%;
  }

  .my-swiper {
    height: 84%;
  }

  .my-swiper .my-swiper--slide {
    height: 80%;
    margin: auto 0;

    border-radius: 1.2rem;
    background-color: var(--main-bg-color);
  }

  .my-swiper .my-swiper--slide .container-slide {
    height: 100%;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .my-swiper .my-swiper--slide .img-bottle {
    position: relative;
    height: 75%;
    top: 0%;
    left: 0%;

    margin-right: 15%;
  }

  .container-text {
    margin-left: 0%;
    margin-bottom: 10%;
    margin-top: 5%;
  }
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .my-swiper .my-swiper--slide .img-bottle {
    margin-right: 25%;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .section-slider--bottles h2 {
    height: 18%;
  }

  .my-swiper {
    height: 82%;
  }

  .my-swiper {
    width: 55%;
    overflow: visible;
  }
  .my-swiper .my-swiper--slide .img-bottle {
    margin-right: 20%;
  }

  .mybullet {
    width: 2.25rem;
    height: 2.25rem;
  }
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
  .my-swiper {
    width: 75%;
  }

  .my-swiper .my-swiper--slide .img-bottle {
    margin-right: 20%;
  }
}
