.main-header {
  color: #fff;

  padding-left: 6%;

  /* height: 88vh; */
  height: 100vh;

  background-image: url("../../public/static/images/photos/Reserva_Ancestral_Botellas_01.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: right bottom; /* Center the image */
  background-size: cover;
}

.main-header h2 {
  width: 35%;

  text-transform: uppercase;
  font-size: var(--fs-title);
  font-weight: 600;
  line-height: 6rem;
  letter-spacing: 0.1rem;

  padding-top: 24vh;

  /* background-color: yellowgreen; */
}

.main-header h3 {
  width: 25%;
  padding-top: 2%;
  text-transform: capitalize;

  font-size: var(--fs-sub-sub-title);
  font-weight: 500;
  line-height: 3.8rem;
  letter-spacing: 0.1rem;
}

/**************************/
/* BELOW 1344px /smaller desktops */
/**************************/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
  .main-header h2 {
    width: 50%;
    /* font-size: var(--fs-big-title); */
  }

  .main-header h3 {
    width: 40%;
  }
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .main-header {
    background-position: center;
    background-image: url("../../public/static/images/photos/Reserva_Ancestral_Botellas_01_tablet.jpg");
  }
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .main-header h2 {
    width: 80%;

    padding-top: 18vh;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .main-header {
    background-position: center;
    background-image: url("../../public/static/images/photos/Reserva_Ancestral_Botellas_01_phone.jpg");

    padding: 0 6%;
  }

  .main-header h2 {
    width: 100%;
    /* text-align: center; */

    padding-top: 16vh;

    /* background-color: yellowgreen; */
  }

  .main-header h3 {
    font-family: var(--ff-sec);

    width: 70%;
    padding-top: 2%;
    /* text-align: center; */

    /* background-color: yellow; */

    letter-spacing: 0.1rem;
  }
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
}
