.section-history {
  height: 50vh;
  text-align: center;

  color: var(--black-color);
  background-color: var(--main-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-history h2 {
  font-size: var(--fs-sub-title);
  font-weight: 500;
  margin-bottom: 2rem;
}

.section-history h3 {
  font-size: var(--fs-big-text);
  font-weight: 300;
  width: 85%;
}

.section-history h3:last-child {
  font-weight: 500;
  color: var(--main-brown-color);
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .section-history {
    height: 75vh;
  }
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
  .section-history {
    height: 100vh;
  }
}
