.section-contact {
  margin: 0 auto;
  margin-top: 12vh;
  height: 88vh;
  width: 90%;

  /* height: 68vh; */

  display: flex;
  flex-direction: row-reverse;

  /* background-color: rgb(255, 204, 195); */
}

.container-form {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: aquamarine; */
}

.container-form h2 {
  color: var(--main-brown-color);
  font-size: var(--fs-sub-title);
  font-weight: 500;
  /* margin-bottom: 5%; */
}

.form-control {
  margin: 2rem 0;
  width: 80%;
  height: 13%;

  /* background-color: yellowgreen; */
}

.form-control--msg {
  height: 13%;
}

.form-control input,
.form-control textarea,
.form-control label,
.form-control p {
  display: block;
  font-family: var(--ff-sec);
}

.form-control label {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: var(--fs-mid-small-text);
}

.form-control input,
.form-control textarea {
  font-size: var(--fs-mid-small-text);
  background-color: var(--main-bg-color);
}

.form-control input,
.form-control textarea,
.form-control select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid #ccc;
  width: 100%;
}

.form-control textarea {
  resize: no;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  /* background-color: yellowgreen; */
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  border-color: var(--sec-brown-color);
}

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  font-size: var(--fs-small-small-text);
  color: #b40e0e;
}

.form-actions {
  text-align: right;
  width: 100%;
  height: 11%;
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: violet; */
}

.form-actions .btn {
  /* margin-left: 1rem; */
  display: inline-block;
  font-size: var(--fs-mid-small-text);
  font-weight: 600;
  padding: 0.5rem 0;
  /* margin: 4rem 0; */
  cursor: pointer;

  border-radius: 1.2rem;
  border: none;
  height: 60%;
  width: 80%;

  color: #f3f3f3;
  background-color: var(--sec-brown-color);

  transition: all 0.3s ease-out;
}

.form-actions .btn-valid {
  opacity: 1;
}

.form-actions .btn-invalid {
  opacity: 0.5;
}

/*  */
/*  */
/*  */
.container-img {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: violet; */
}

.container-img picture {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img picture img {
  width: 100%;
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
  .container-img picture {
    width: 100%;
    height: 35%;
    position: relative;
  }
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .section-contact {
    flex-direction: column-reverse;
    padding: 5% 0;
  }

  .container-form {
    height: 80%;
    width: 100%;
  }

  .container-img {
    height: 100%;
    width: 100%;

    /* background-color: yellowgreen; */
  }

  .container-img picture {
    width: 60%;
    height: 100%;
    position: relative;

    /* background-color: wheat; */
  }
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .container-img picture {
    width: 60%;
    height: 80%;
    position: relative;

    /* background-color: wheat; */
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .section-contact {
    flex-direction: column-reverse;
  }

  .container-form {
    height: 100%;
    width: 100%;
  }

  .container-form h2 {
    margin-bottom: 15%;
  }

  .container-img {
    display: none;
    height: 0%;
    width: 100%;
  }
}
