.my-swiper {
  width: 70%;
  height: 100%;

  border-radius: 3rem;
}

.my-swiper .my-swiper-slide {
  width: 100%;
  height: 100%;

  position: relative;
  /* background-color: yellow; */
}

.my-swiper .my-swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;

  /* background-color: yellowgreen; */
  background-image: url("../../public/static/images/logos/Reserva_Ancestral_Logo_Blur.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  background-size: contain;
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .my-swiper {
    width: 90%;
  }
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
  .my-swiper {
    width: 100%;
  }
}
