@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

/**************************/
/* GENERAL */
/**************************/
:root {
  --black-color: #2d2d2d;
  --main-bg-color: #f8f6f2;
  --main-brown-color: #654729;

  --red-color: #ff0022;
  --secundary-color: #004b66;
  --secundary-color-light: #006e96;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}
