.section-tribute {
  height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-bg-color);
}

.section-tribute .container-bg {
  height: 70%;
  width: 100%;

  background-image: url("../../public/static/images/photos/Reserva_Ancestral_Nosotros_02.jpeg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  background-position: center;

  position: relative;
}

.section-tribute .container-bg h2 {
  color: var(--main-bg-color);
  font-size: var(--fs-sub-title);

  position: absolute;
  top: 20%;
  left: 5%;
}

.section-tribute .container-bg p {
  font-family: Lora;
  color: var(--main-bg-color);
  font-size: var(--fs-mid-small-text);
  line-height: 1.5;

  width: 20%;
  position: absolute;
  top: 35%;
  left: 5%;
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .section-tribute .container-bg p {
    width: 25%;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .section-tribute .container-bg {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .section-tribute .container-bg h2 {
    padding-top: 12.5%;
    padding-bottom: 2.5%;
    width: 80%;
    text-align: center;
    position: relative;
    top: 0%;
    left: 0%;
  }

  .section-tribute .container-bg p {
    text-align: center;
    width: 80%;
    position: relative;
    top: 0%;
    left: 0%;
    line-height: 1.9;
  }
}
