.header {
  height: 88vh;
  position: relative;

  background-image: url("../../public/static/images/photos/Reserva_Ancestral_Nosotros_03.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}

.header h2 {
  color: var(--main-bg-color);
  font-size: var(--fs-title);

  position: absolute;
  bottom: 20%;
  left: 5%;
}

.header p {
  font-family: Lora;
  color: var(--main-bg-color);
  /* font-size: var(--fs-small-text); */
  font-size: var(--fs-mid-small-text);
  line-height: 1.7;
  text-align: right;

  width: 30%;
  position: absolute;
  top: 20%;
  right: 5%;
}

.header hr {
  width: 30%;
  height: 0.25rem;

  position: absolute;
  right: 0;
  top: 15%;

  border: none;
  background-color: var(--sec-brown-color);
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .header p {
    line-height: 1.8;
    width: 60%;
  }

  .header hr {
    width: 40%;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header h2 {
    position: relative;
    bottom: 0%;
    left: 0%;

    padding-bottom: 7.5%;
  }

  .header p {
    line-height: 1.9;
    text-align: center;

    width: 75%;
    position: relative;
    top: 0%;
    right: 0%;

    padding-bottom: 10%;
  }

  .header hr {
    width: 40%;
    height: 0.25rem;

    position: relative;
    right: 0;
    top: 0%;
  }
}
