.header {
  height: 100vh;
  position: relative;

  background-image: url("../../public/static/images/photos/Reserva_Ancestral_Nosotros_01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header h2 {
  color: var(--main-bg-color);
  font-size: var(--fs-title);

  position: absolute;
  top: 30%;
  right: 5%;
}

.header p {
  font-family: Lora;
  color: var(--main-bg-color);
  font-size: var(--fs-mid-small-text);

  line-height: 1.7;

  width: 30%;
  position: absolute;
  bottom: 15%;
  left: 5%;
}

.header hr {
  width: 30%;
  height: 0.25rem;

  border: none;
  background-color: var(--sec-brown-color);

  position: absolute;
  bottom: 10%;
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  .header {
    background-image: url("../../public/static/images/photos/Reserva_Ancestral_Nosotros_01_tablet.jpg");
  }

  .header h2 {
    color: var(--main-bg-color);
    font-size: var(--fs-title);

    position: absolute;
    top: 30%;
    right: 5%;
  }

  .header p {
    width: 60%;
    line-height: 1.8;

    position: absolute;
    bottom: 15%;
    left: 5%;
  }

  .header hr {
    width: 40%;
    height: 0.25rem;
  }
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url("../../public/static/images/photos/Reserva_Ancestral_Nosotros_01_phone.jpg");
  }

  .header h2 {
    text-align: center;
    color: var(--main-bg-color);
    font-size: var(--fs-title);
    padding-bottom: 7.5%;
    width: 80%;

    top: 0%;
    right: 0%;
    position: relative;
  }

  .header p {
    width: 75%;
    padding-bottom: 10%;
    line-height: 1.9;
    text-align: center;

    bottom: 0%;
    left: 0%;
    position: relative;
  }

  .header hr {
    width: 40%;
    bottom: 0%;
    position: relative;
  }
}
